/* CSS declarations go here */
#login-dropdown-list {
	left: initial;
	right: 1px;
}

.sidebar {
	min-height: 246px;
}

.call-later button {
	margin-top: 1em;
}

.label-success:hover {
	cursor: pointer;
}

.text-centered{
	text-align: center;
}