<template name="usersList">
  <div class="container">
    <div class="row">
      {{#each users}}
      <div class="col-sm-6 col-md-4">
        <div>
          <h3>{{profile.name}}</h3>
          <h4>Activo: <strong>{{isActive}}</strong></h4>
          <button type="button" class="btn btn-success set-active">Set Active</button>
          <button type="button" class="btn btn-danger set-inactive">Set Inactive</button>
          <br>
          
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>