<template name="contactDetails">
  {{name}}
  <section class="container">
    <div class="row">
    {{#if hasReminder}}
      {{#with reminder}}
    
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Llamar en {{hours}}:{{minutes}} hs.</h4>
          </div>
        </div>
      </div>
      {{/with}}
    {{else}}
      <h4>Llamar mas tarde</h4>
      
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <form class="call-later">
              <div class="form-group">
                <div class="col-sm-6">
                  <input type="number" min="0" max="6" class="form-control" name="hours" id="hours" value="0" placeholder="Horas">
                </div>
                <div class="col-sm-6">
                  <input type="number" min="0" step="15" max="59" class="form-control" name="minutes" id="minutes" placeholder="Minutos">
                </div>
              </div>
              <div class="col-sm-4 col-sm-offset-4">     
                <button type="submit" class="btn btn-success">Cambiar</button>
              </div>
            </form>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-sm-4 col-sm-offset-2">     
              <button type="button" class="btn btn-warning btn-lg call-tomorrow">Llamar Manana</button>
            </div>
          </div>
        </div>
      </div>
      

    {{/if}}

    {{#if hasOrders}} 
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            {{#with newOrder}}
              <p>Agrega productos al pedido #{{_id}}</p>
              {{#each orderProducts}}
                {{name}}
              {{/each}}
              <form class="insert-product">
                <div class="form-group">
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="product" id="product" placeholder="Producto">
                  </div>
                  <div class="col-sm-6">     
                    <button type="submit" class="btn btn-success">Agregar</button>
                  </div>
                </div>
              </form>
              <br>
              <button type="button" class="btn btn-success finish-order {{invisibleClass}}">Finalizar Pedido</button>
            {{/with}}
          </div>
        </div>
      </div>
    {{else}}
    
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <button type="button" class="btn btn-success btn-lg create-order">Crear Pedido</button>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="list-group">
            {{#each finishedOrders}}
              <li class="list-group-item">
                {{formatCompleteTime createdAt}}
                {{#each orderProducts}}
                  <p>{{name}}</p>
                {{/each}}
              </li>
            {{/each}}
            </ul>
          </div>
        </div>
      </div>
    
    {{/if}}
    

    
    </div>
  </section>
</template>
