<template name="initialContacts">
	<div class="container">
  {{#if currentUser}}
  <div class="row">
    <div class="col-sm-3 sidebar">
      <h2>Pendientes</h2>
      <hr>
      <h4>No contestan</h4>
      {{#each unAnswered}}
      <ul>
      	<li>
          <h5><a href="/cliente/{{_id}}">{{name}}</a> <span class="label label-success" data-toggle="modal" data-target="#myModal">Llamar</span></h5>
        </li>
      </ul>
      	
      {{/each}}
      <hr>
      <h4>Llamar mas tarde:</h4>
      {{#each callLater}}
      <ul>
        <li>
          <h5><a href="/cliente/{{_id}}">{{name}}</a> <span class="label label-success" data-toggle="modal" data-target="#myModal">Llamar</span></h5>
          {{#each reminders}}
          <p>En {{hours}}:{{minutes}} hs a las {{formatTime changed}}</p>
          {{/each}}
        </li>
      </ul>
        
      {{/each}}
      <hr>
      <h4>Llamando:</h4>
      {{#each currentContacts}}
      {{name}}
      {{/each}}
    </div>
    
    <div class="col-sm-6">
      <h2>Lista de Contactos</h2>
      <hr>
    	{{#each initialContacts}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>{{name}}</h4>
        </div>
        <div class="panel-body">
          <h4>Telefono: {{phone}}</h4>
          <h4>Email: {{email}}</h4>
          <hr>
          <button type="button" class="btn btn-primary call-contact" data-toggle="modal" data-target="#myModal">
          Llamar
          </button>
        </div>
      </div>
      {{/each}}
    </div>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        {{#with contact}}
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <h4>Llamando a: <strong>{{name}}</strong></h4>
          </div>
          <div class="modal-footer">
            <h5>{{_id}}</h5>
            <button type="button" class="btn btn-danger no-responde" data-dismiss="modal">No Contesta</button>
            <a href="/cliente/{{_id}}" class="btn btn-success responde">Contesta</a>
          </div>
        </div>
        {{/with}}
      </div>
    </div>

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        {{#with suggestedContact}}
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <h4>Llamando a: <strong>{{name}}</strong></h4>
          </div>
          <div class="modal-footer">
            <h5>{{_id}}</h5>
            <button type="button" class="btn btn-danger no-responde2" data-dismiss="modal">No Contesta</button>
            <a href="/cliente/{{_id}}" class="btn btn-success responde2">Contesta</a>
          </div>
        </div>
        {{/with}}
      </div>
    </div>

    <div class="col-sm-3">
      <h2>Tienen Pedidos</h2>
      <hr>
      {{#each hasOrders}}
      <ul>
        <li>
          <h5><a href="/cliente/{{_id}}">{{name}}</a> <span class="label label-success" data-toggle="modal" data-target="#myModal">Llamar</span></h5>
          <p>
            <span class="label label-info view-status">Status</span> {{orderStatus}}
          </p>
        </li>
      </ul>
      {{/each}}
    </div>
  </div>
  {{else}}
  <h3>logueate para participar</h3>
  {{/if}}
  </div>
</template>
